<h1>About Meadowlark Travel</h1>
<p>Your Fortune of the Day:</p>
<blockquote>{{fortune}}</blockquote>
<body>
 <footer>
      <p>Posted by: Tanner Campbell</p>
      <p>Contact information: <a href="mailto:tcampb@pointpark.edu">tcampb@pointpark.edu</a>.</p>
    </footer>
</body>
