<h1>Lunamista Actor DB</h1>
<p>Will handle adding new Actor into the Database</p>
<div class="new">
  <form action="POST">
    <b>First Name:</b>
    <input type="text" name="fname" placeholder="First name"><br>
    <b>Last Name:</b>
    <input type="text" name="lname" placeholder="Last name"><br>
    <b>Gender:</b>
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female<br>
    <b>Age:</b>
    <input type="number" name="age" placeholder="Age"><br>
    <b>Height:</b>
    <input type="number" name="height" placeholder="Height"><br>
    <b>Weight:</b>
    <input type="number" name="weight" placeholder="Weight"><br>
    <b>Shoe Size:</b>
    <input type="number" name="shoeSize" placeholder="Shoe Size"><br>

    <input type="submit" value="Submit">
  </form>
  
</div>
