<h1>Welcome to Meadowlark Travel</h1>
<body>
 <footer>
      <p>Posted by: Tanner Campbell</p>
      <p>Contact information: <a href="mailto:tcampb@pointpark.edu">tcampb@pointpark.edu</a>.</p>
    </footer>
</body>
